h1 {
    color: rgb(51, 54, 54);
    text-align: center;
}

body {
    background-color: rgb(248, 241, 241);
}

#testAnswer1 {
    background-color: yellow;
}

/* #testAnswer2 {
    /* TODO
    find a way to place an approval mark when the user
    inputs the right selection from the dropdown  dshfi*/
    
/*} */