h1 {
    color: rgb(51, 54, 54);
    text-align: center;
}

body {
    background-color: rgb(248, 241, 241);
}

#testAnswer1 {
    background-color: yellow;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

#part2, #part3, #part4, #submission {
    visibility: hidden;
}

#buttonTwo, #buttonThree, #buttonFour {
    visibility: hidden;
}
/* #testAnswer2 {
    /* TODO
    find a way to place an approval mark when the user
    inputs the right selection from the dropdown */
    
/*} */